<html>
	<head>
		<title>Work/Life Balance</title>
		<script type="text/javascript" src="brython.js"></script>
		<script type="text/javascript" src="brython_stdlib.js"></script>
	</head>

	<body onload="brython(1)">
			<script type="text/python3">
			from browser import document, ajax, alert
			import json
			# import warnings
			def show_results(response):
			    if response.status==200 or response.status==0:
			        document["result"].html = response.text
			    # else:
			    #     warnings.warn(response.text)
			def get_prediction(ev):
			    """Get the predicted probability."""
			    req = ajax.ajax()
			    req.bind('complete', show_results)
			    req.open('POST', '/predict', True)
			    req.set_header('content-type','application/json')
			    data = json.dumps({'pros': document['pros'].value, 'cons':document['cons'].value, 'culture': document['culture'].value, 'benefits': document['benefits'].value, 'career': document['career'].value, 'senior': document['senior'].value})
			    req.send(data)
			document["predict_button"].bind("click", get_prediction)

			</script>
		<p>How do you feel about the company?</p>
		<div class="opinions">
			<p>How do you feel about the culture values?</p>
			<select id="culture">
				<option value="1">1</option>
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			<option value="5">5</option>
			</select>


			<p>How do you feel about the company benefits?</p>
			<select id="benefits">
				<option value="1">1</option>
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			<option value="5">5</option>
			</select>

			<p>How do you feel about the career opportunities?</p>
			<select id="career">
				<option value="1">1</option>
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			<option value="5">5</option>
			</select>

			<p>How do you feel about the senior management?</p>
			<select id="senior">
				<option value="1">1</option>
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			<option value="5">5</option>
			</select>
		</div>
    <textarea id="pros" placeholder="Pros of the company..."></textarea>
    <textarea id="cons" placeholder="Cons of the company..."></textarea>
		<button id="predict_button">Predict!</button>
		<div id="result"></div>
	</body>
</html>
