<html>
	<head>
		<title>Work/Life Balance</title>
		<script type="text/javascript" src="brython.js"></script>
		<script type="text/javascript" src="brython_stdlib.js"></script>
	</head>

	<body onload="brython(1)">
			<script type="text/python3">
			from browser import document, ajax, alert
			import json
			# import warnings
			def show_results(response):
			    if response.status==200 or response.status==0:
			        document["result"].html = response.text
			    # else:
			    #     warnings.warn(response.text)
			def get_prediction(ev):
			    """Get the predicted probability."""
			    req = ajax.ajax()
			    req.bind('complete', show_results)
			    req.open('POST', '/predict', True)
			    req.set_header('content-type','application/json')
			    data = json.dumps({'pros': document['pros'].value, 'cons':document['cons'].value})
			    req.send(data)
			document["predict_button"].bind("click", get_prediction)

			</script>
		<p>How do you feel about the company?</p>
    <textarea id="pros" placeholder="Pros of the company..."></textarea>
    <textarea id="cons" placeholder="Cons of the company..."></textarea>
		<button id="predict_button">Predict!</button>
		<div id="result"></div>
	</body>
</html>
